.appbar {
  height: 0.9rem;
  color: $blue-200;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__name {
    font-size: 0.32rem;
    font-weight: 700;
  }

  &__list {
    font-weight: 500;
    width: 2.4rem;
    font-size: 0.24rem;
    display: flex;
    justify-content: space-between;
  }
}
