.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.32rem;
  transition: opacity 0.32s;

  &:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 800px) {
    margin-left: auto;
    margin-right: auto;
  }

  $border-width: 5px;

  &__img-wrapper {
    width: calc(4.55rem * 1.2 + #{$border-width} * 2);
    height: calc(2.3rem * 1.2 + #{$border-width} * 2);
    margin-bottom: 0.16rem;
    border: $border-width solid rgba($blue-gray-700, 0.3);
  }

  &__name {
    font-size: 0.24rem;
    color: $blue-50;
  }
}
