.project-list {
  margin: auto;
  // width: 10.2rem;

  @media screen and (max-width: 800px) {
    width: 6rem;
    text-align: center;
  }

  &__title {
    @include text-gradient($indigo-500, $light-blue-500);
    font-size: 0.36rem;
    margin-bottom: 0.32rem;
    margin-top: 0.6rem;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
  }
}
