$blue-gray-700: #334155;
$blue-gray-800: #1e293b;
$blue-gray-900: #0f173a;
$blue-gray-600: #475569;
$blue-600: #2563eb;
$blue-300: #93c5fd;
$blue-200: #bfdbfe;
$blue-50: #eff6ff;
$indigo-500: #6366f1;
$indigo-600: #4f46e5;
$indigo-300: #a5b4fc;
$indigo-200: #c7d2fe;
$light-blue-500: #0ea5e9;
$red-500: #ef4444;
$yellow-500: #f59e0b;

@mixin text-gradient($color-left, $color-right) {
  background-clip: text;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, $color-left, $color-right);
}
